[default]
aws_access_key_id={{ (bitwarden "item" "aws-iam-xmarcos-cli-cerebro").login.username }}
aws_secret_access_key={{ (bitwarden "item" "aws-iam-xmarcos-cli-cerebro").login.password }}

[aws-iam-favoritos-cli-cerebro-amplify]
aws_access_key_id={{ (bitwarden "item" "aws-iam-favoritos-cli-cerebro-amplify").login.username }}
aws_secret_access_key={{ (bitwarden "item" "aws-iam-favoritos-cli-cerebro-amplify").login.password }}

[aws-iam-olapic-cli-xmarcos]
aws_access_key_id={{ (bitwarden "item" "aws-iam-olapic-cli-xmarcos").login.username }}
aws_secret_access_key={{ (bitwarden "item" "aws-iam-olapic-cli-xmarcos").login.password }}

[aws-iam-xmarcos-cli-friday]
aws_access_key_id={{ (bitwarden "item" "aws-iam-xmarcos-cli-friday").login.username }}
aws_secret_access_key={{ (bitwarden "item" "aws-iam-xmarcos-cli-friday").login.password }}
