{{- $headless := false -}}

{{- if (env "CI") -}}
{{-   $headless = true -}}
{{- end -}}

{{- $email := "xmarcos@gmail.com" -}}
{{- $full_name := "Marcos Sader" -}}
{{- $github_user := "xmarcos" -}}
{{- $gpg_default_key := "9D549BB373B7F4BA" -}}
{{- $username := "xmarcos" -}}

data:
  headless: {{ $headless }}
  email: {{ $email }}
  full_name: {{ $full_name }}
  github_user: {{ $github_user }}
  username: {{ $username }} }}
  gpg_default_key: {{ $gpg_default_key }}
  bitwarden:
    gpg_key_xmarcos_2021_id: "dadf5795-5704-4ae8-8ad5-ad58011eba51"
    dot_gnupg_id: "a674eb01-a26c-4757-a40f-ad580128fdc2"