[alias]
  # amend last commit
  amend = commit --amend
  b = branch
  c = commit
  co = checkout
  # list of contributors and how many commits each person has.
  contrib = shortlog -sn
  # dont complain about "git" when doing "git git cmd"
  git = !git
  # commits log with pretty format
  l = log --all --graph --decorate --oneline
  # long and detailed log
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
  # commits log with statistic
  ll = log --stat --abbrev-commit
  st = status
  # count how many lines in repo
  stat = !git ls-files | xargs wc -l

[branch]
  autosetupmerge = always

[color]
  ui = auto

[commit]
  gpgsign = true

[core]
  editor = vim
  excludesfile = {{ .chezmoi.homedir }}/.config/git/.gitignore
  ignorecase = false

[diff]
  tool = icdiff

[difftool]
  prompt = false

[difftool "icdiff"]
  cmd = /usr/local/bin/icdiff --line-numbers $LOCAL $REMOTE

[gpg]
  program = gpg

[help]
	autocorrect = 1

[init]
  defaultBranch = main

[merge]
  ff = no
  commit = no

[pull]
	ff = only
	rebase = false

[push]
  default = current
  followTags = true

[status]
  showUntrackedFiles = all

[tag]
  forceSignAnnotated = true

[transfer]
  # https://git-scm.com/docs/git-config#Documentation/git-config.txt-transferfsckObjects
  fsckobjects = true

[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "git://github.com/"
  pushInsteadOf = "github:"
  pushInsteadOf = "https://github.com/"

[url "git://github.com/"]
  insteadOf = "github:"

[user]
  email = {{ .email }}
  name = {{ .full_name }}
  signingkey = {{ .gpg_default_key }}