# shellcheck shell=bash disable=SC1090,SC1091

# XDG setup
export XDG_CONFIG_HOME="{{ .chezmoi.homeDir }}/.config"
export XDG_DATA_HOME="{{ .chezmoi.homeDir }}/.local/share"
export XDG_CACHE_HOME="{{ .chezmoi.homeDir }}/.cache"

# ZSH config
export ZDOTDIR="$XDG_CONFIG_HOME/zsh"
. "$ZDOTDIR/.zshenv"
