Host *
  {{- if eq .chezmoi.os "darwin" }}
  AddKeysToAgent yes
  UseKeychain yes
  {{- end }}
  Compression yes
  ControlMaster auto
  ControlPath {{ .chezmoi.homedir }}/.ssh/tmp/ssh-%r@%h:%p
  ControlPersist 10m
  HashKnownHosts yes
  IdentitiesOnly yes

# ----------------------------------
# Public
# ----------------------------------
Host github.com
  IdentityFile {{ .chezmoi.homedir }}/.ssh/keys/github/github_rsa

Host bitbucket.org
  IdentityFile {{ .chezmoi.homedir }}/.ssh/keys/bitbucket/bitbucket_rsa

Host bitbucket-olapic.org
  HostName bitbucket.org
  IdentityFile {{ .chezmoi.homedir }}/.ssh/keys/bitbucket/bitbucket-olapic_rsa

# ----------------------------------
# Private
# ----------------------------------
Host mbp.local
  IdentityFile {{ .chezmoi.homedir }}/.ssh/keys/x/mini_rsa
  User xmarcos

Host mini.local
  IdentityFile {{ .chezmoi.homedir }}/.ssh/keys/x/mbp_rsa
  User xmarcos

Host meli
  HostName {{ (bitwardenFields "item" "meli-mbp-2021").hostname.value -}}.local
  HostName {{ (bitwardenFields "item" "meli-mbp-2021").ip.value }}
  IdentityFile {{ .chezmoi.homedir }}/.ssh/keys/x/meli_ed25519
  User {{ (bitwardenFields "item" "meli-mbp-2021").username.value }}
