{
    "bitbucket-oauth": {},
    "github-oauth": {
        "github.com": "{{ (bitwarden "item" "github-xmarcos-cerebro-composer").login.password }}"
    },
    "gitlab-oauth": {},
    "gitlab-token": {},
    "http-basic": {}
}
