# shellcheck shell=bash

EDITOR=vim
NEOFETCH_WEATHER_LOCATION="{{ .neofetch.weather_location }}"
# https://www.gnupg.org/documentation/manuals/gnupg/Common-Problems.html
GPG_TTY=$(tty)
STARSHIP_CONFIG=$XDG_CONFIG_HOME/starship/starship-config.toml

# exports
export EDITOR
export NEOFETCH_WEATHER_LOCATION
export GPG_TTY
export STARSHIP_CONFIG
